<div>
  <p><strong>Hi there!</strong></p>
  <p>
    We've received a request to reset your password. You can change your password by hitting the link below.
  </p>
  <a href={{ url }} target="_blank">Reset your password</a>
</div>
